

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  user-select: none;
}
.embla__slide {
    flex-shrink: 0;
    
  margin-bottom: 20px;
  
  
}

.bg_section3{
    background-image: url(assets/image/img_header/texto_transparent.png);
    
}
.bg_section3 img{
    display: none;
    width: 60%;
}

.element_svg{
    width: 80px;
    height: 80px;
}





.item_svg{
  color: white;
  position: relative;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  background-color: #1f2937;
  
}

@property --angular{
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.item_svg::after, .item_svg::before{
  padding: 20px;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
   top: 50%;
    left: 50%;
    z-index: -1;
 background-image: conic-gradient( from var(--angular),transparent 50%, red);
   animation: borderAngula 5s linear infinite;
}

.item_svg::after{
    filter: blur(5px);
    
}


@keyframes borderAngula {
  from {
    --angular: 0deg;
  }
  to {
    --angular: 360deg;
  }
}



@media (width > 640px) {
   

    .bg_section3{
        background-image: none;
    }

    .bg_section3 img{
    display: block;

    
}

}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


